<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-focus" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>Focus</name><js-module name="Focus" src="www/Focus.js">
    <clobbers target="cordova.plugins.Focus" /></js-module>
    <platform name="android"><config-file parent="/*" target="res/xml/config.xml">
    <feature name="Focus"><param name="android-package" value="cordova-plugin-focus.Focus" /></feature>
    </config-file><config-file parent="/*" target="AndroidManifest.xml"></config-file>
    <source-file src="src/android/Focus.java" target-dir="src/cordova-plugin-focus/Focus" />
    </platform>
    <engines>
    <engine name="cordova" version=">=4.0.0" />
  </engines>
</plugin>